<% @article.each do |line| %>
<p><%= line %></p>
<% end %>

<form action="articles" method="post">
  <%= token_tag %>
  <input type="text" name="article[article_name]">
  <input type="hidden" name="article[article_text]" value="<%= @article.join %>">
  <input type="submit">
</form>
