/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


#container {
   position: relative;
}

#background {
   position: absolute;
   top: 100px;
   left: 200px;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 100px;
}

#background2 {
   position: absolute;
   top: 0;
   left: 100px;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 150px;
}

#background3 {
   position: absolute;
   top: 50px;
   left: 300px;
   bottom: 0px;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 300px;
}


#background4 {
   position: absolute;
   top: 100px;
   left: 175px;
   bottom: 0;
   right: 20;
   z-index: -1;
  overflow: hidden;
  font-size: 250px;
}

#background5 {
    position: absolute;
   top: 30px;
   left: 180px;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 80px;
}

#background6 {
   position: absolute;
   top: 80px;
   left: 150px;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 280px;
}


#poem2background {
   position: absolute;
   top: 100px;
   left: 200px;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 200px;
}

#header {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 80px;
   z-index: -1;
   overflow: hidden;
   font-size: 200px;
}

#header2 {
   position: absolute;
   top: 60px;
   left: 400px;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 325px;
}

#background8 {
  position: absolute;
   top: 0;
   left: 200px;
   bottom: 10px;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 125px;

}

#background7 {
  position: absolute;
   top: 20px;
   left: 300px;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 200px;

}


#background9 {
  position: absolute;
   top: 100px;
   left: 175px;
   bottom: 0;
   right: 80px;
   z-index: -1;
   overflow: hidden;
   font-size: 150px;

}

#background10 {
  position: absolute;
   top: 30px;
   left: 0;
   bottom: 0;
   right: 80px;
   z-index: -1;
   overflow: hidden;
   font-size: 150px;

}


#background11 {
  position: absolute;
   top: 100px;
   left: 0;
   bottom: 0;
   right: 80px;
   z-index: -1;
   overflow: hidden;
   font-size: 100px;

}
#background12 {
  position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 80px;
   z-index: -1;
   overflow: hidden;
   font-size: 200px;

}


li {list-style-type: none;}
